* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #a0a0a0;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #a0a0a0;
  text-decoration: inherit;
}
a:hover {
  color: #a0a0a0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
#app {
  position: relative;
  width: 100%;
  overflow: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.webgl {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: -1; */
  pointer-events: none;
}

.point {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
}

/* .point:hover .text {
  opacity: 1;
} */

.point.visible .label {
  transform: scale(1, 1);
}

.point.visible .annotate-text {
  transform: scale(1, 1);
}

.point .label {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #8a8a8a77;
  top: -20px;
  left: -20px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  transform: scale(0, 0);
  transition: transform 0.3s ease-in-out;
}

.point .annotate-text {
  position: absolute;
  top: -30px;
  right: 24px;
  width: 200px;
  color: #ffffff;
  font-size: 14px;
  pointer-events: none;
  transform: scale(0, 0);
  transition: transform 0.5s ease-in-out;
  transition-delay: 100ms;
}

section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
}

.hero {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero-svg-wrap {
  width: 95%;
  position: relative;
  margin: 6rem auto 1rem auto;
}

.sub-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.sub-text-wrap .sub-text_large {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.1;
}

.sub-text-wrap .sub-text_small {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.1;
  background: linear-gradient(135deg, #fff 0%, #a0a0a0 50%, #fff 100%);
  background-size: 200%; /* Adjust to control the speed */
  background-position: -100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: spotlight 5s infinite linear;
}

@keyframes spotlight {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.customizer {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.sticky {
  position: relative;
  z-index: -1;
}

.sticky-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 240vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
}

.sticky-header h2 {
  margin: 0;
  font-size: 30vw;
  color: #9c9c9c;
  letter-spacing: -0.075em;
  font-weight: 300;
  line-height: 100%;
  text-wrap: nowrap;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 4rem;
  perspective: 1000px;
}

.details-content {
  width: 32rem;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%) rotateY(-75deg) scale(0.5);
  transform-origin: bottom left;
  display: none;
}

.details h2 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.details p {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 1rem;
}

.details button {
  padding: 0.75rem 2rem;
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.1;
  background-color: #ffffffd2;
  backdrop-filter: blur(12px);
  color: #000;
  border: none;
  cursor: pointer;
  outline: none;
}

.controls {
  position: absolute;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  top: 85%;
  left: 50%;
  z-index: 100;
  background-color: rgba(60, 60, 60, 0.25);
  padding: 0.75rem 2rem;
  border-radius: 4px;
  backdrop-filter: blur(12px);
  transform: translate(-50%, -50%);
  /* border: 0.5px solid #3e3e3e; */
}

.part-selector {
  color: #a0a0a0;
  border: none;
  display: flex;
  gap: 0.5rem;

  /* padding-right: 2rem; Increase space for the larger outline arrow
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23a0a0a0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 1.2rem auto; */
}

.part-selector label {
  cursor: pointer;
  font-size: 0.75rem;
  display: flex;
}

input[type="radio"] {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
  display: inline-block;
}

input[type="radio"]:after {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  margin-right: 0.5rem;

  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
  background-color: #000000;
  content: "";
  display: inline-block;
  border: 2px solid white;
}

#colorSwatches {
  display: flex;
  gap: 0.5rem;
}

.color-swatch {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.slide-images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider {
  width: 100%;
  height: 100vh;
  position: relative;
}

.slide-titles {
  position: absolute;
  top: 0;
  left: 0;
  width: 300vw;
  height: 100vh;
  display: flex;
  pointer-events: none;
  z-index: 2;
}

.title {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: clamp(1.5rem, 3vw, 4rem);
  font-weight: 300;
  line-height: 1.1;
  transition: color 0.25s ease, opacity 0.25s ease;
  flex-shrink: 0;
  color: #2d2d2d;
}

.active h1 {
  color: #fff;
}

.slide-images {
  width: 450px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: all;
  opacity: 1;
  perspective: 1000px;
}

.img-top {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(90% 0%, 50% 0%, 10% 50%, 90% 50%);

  transition: clip-path 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.img-bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(90% 50%, 10% 50%, 10% 100%, 50% 100%);
  transition: clip-path 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.slide-images:hover .img-top {
  clip-path: polygon(80% 20%, 0% 0%, 0% 50%, 80% 50%);
}

.slide-images:hover .img-bottom {
  clip-path: polygon(100% 50%, 20% 50%, 20% 80%, 100% 100%);
}

.slider-manual-text {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  font-weight: 300;
  text-wrap: nowrap;
  color: #6d6d6d;
}

.video-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.video-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.video-wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  perspective: 1000px;
}

.about-img,
.about-copy {
  flex: 1;
}

.about-img {
  clip-path: polygon(4% 0, 83% 21%, 100% 73%, 0% 100%);
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-copy h1 {
  text-align: center;
  font-size: 6vw;
  line-height: 1.3;
  letter-spacing: -2px;
  color: #a0a0a0;
  text-transform: uppercase;
}

.banner {
  /* background: url("/img1.jpeg") no-repeat 50% 50%;
  background-size: cover; */
  position: relative;
  overflow: hidden;
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  z-index: 2;
}

.banner .banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  will-change: transform;
  transform: translateY(0) scale(1.25);
}

.banner h2 {
  font-size: 15vw;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: 2px;
}

.banner p {
  width: 50%;
  text-align: center;
}

@media (max-width: 900px) {
  .slide-images {
    width: 380px;
    height: 400px;
  }

  /* .img-top,
  .img-bottom {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .slide-images:hover .img-top,
  .slide-images:hover .img-bottom {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  } */

  .details {
    /* min-height: 40vh; */
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    min-height: 75vh;
  }

  .details-content {
    position: relative;
    width: 28rem;
    top: 0;
    left: 0;
  }

  .banner h1 {
    font-size: 20vw;
  }

  .banner p {
    width: 100%;
  }

  .title h1 {
    opacity: 0;
  }

  .active h1 {
    opacity: 1;
  }

  .about {
    padding: 4em 2em;
    flex-direction: column;
    gap: 4em;
  }

  .about-img,
  .about-copy {
    flex: 0;
  }

  .about-copy h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 480px) {
  .controls {
    width: 90%;
    flex-direction: column;
  }

  .details-content {
    width: 24rem;
  }

  .details h2 {
    font-size: 3rem;
  }

  .details p {
    font-size: 0.75rem;
    max-width: none;
  }

  .banner {
    padding: 2rem;
  }

  .banner h2 {
    font-size: 5rem;
  }

  .about {
    padding: 2rem;
    gap: 0rem;
  }

  .about-copy h1 {
    font-size: 3rem;
  }
}
